*.swp
/.deps
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/ntpd-setwait
/ntpd-setwait-config.h
/ntpd-setwait-config.h.in
/ntpd_setwait-daemonize.o
/ntpd_setwait-main.o
/stamp-h1
